footer h3{
    font-family: $fuente-primaria;
    color: aliceblue;
    margin: 1em;
}
footer{
    font-family: $fuente-secundaria;
    font-size: 1.5em;
}
footer div nav ul{
    @include propiedades-flex (center, row);
    list-style-type: none
}
footer nav ul li:hover{
    transform: translateY(-0.1em);
}
.fondoNegro{
    background-color: black;
    padding-top: 1.5em;    
}
.textoCentrado{
    text-align: center;
}
.rrss{
    margin-top: 2em;
    margin-bottom: 1em;
}
.rrss a svg{
    height: 1em;
}
.rrss a svg:hover{
    transform: translateY(-0.1em);
}
.copy{
    text-align: left;
    font-family: $fuente-secundaria;
    color: aliceblue;
    font-size: 0.5em;
    font-weight: 100;
    padding-top: 1.5em;
}
a{
    margin: 2em;
    color: aliceblue;
    text-decoration: none;
}
.a1:hover{
    color: #f3ce35;
}
.a2:hover{
    color: #de5133;
}
.a3:hover{
    color: #7390a2;
}
.a4:hover{
    color: #de5133;
}