footer h3{
    font-family: stretchpro;
    color: aliceblue;
    margin: 1em;
}
footer{
    font-family: poppins;
    font-size: 1.5em;
}
footer div nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
footer nav ul li:hover{
    transform: translateY(-0.1em);
}
.fondoNegro{
    background-color: black;
    padding-top: 1.5em;    
}
.textoCentrado{
    text-align: center;
}
.rrss{
    margin-top: 2em;
    margin-bottom: 1em;
}
.rrss a svg{
    height: 1em;
}
.rrss a svg:hover{
    transform: translateY(-0.1em);
}
.copy{
    text-align: left;
    font-family: poppins;
    color: aliceblue;
    font-size: 0.5em;
    font-weight: 100;
    padding-top: 1.5em;
}