header{
    position: sticky;
}
.nav-link{
    color: aliceblue;
    font-family: $fuente-primaria;
}
.navbar-brand{
    width: 100px;
    margin: 0px;
    margin-left: 20px;
    margin-right: 50px;
}