.bannerLetra1{
    font-family: stretchpro;
    margin-left: 1.1em;
    font-size: 2em;
    font-variant: none;
    letter-spacing: 0.1em;
}
.bannerLetra{
    font-family: stretchpro;
    margin-left: 0.7em;
    color: black;
    font-size: 3em;
    left: 0%;
}
.banner3{
    font-family: stretchpro;
    color: aliceblue;
    font-size: 2em;
    width: 100%;
    height: 20em;
    background: center fixed url(.../assets/images/banner31.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
body main div section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin-bottom: 2.5em;
}
.productos{
    font-family: stretchpro;
    font-size: 3em;
    font-weight: 500;
    margin: 1.5em;
    margin-top: 1.5em;
}
.arrow{
    width: 3em;
    margin-left: 5em;
    margin-right: 5em;
}
.productoYComentario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenCarrusel{
    width: 15em;
}
/* .lija{
    width: 95%;
}
.correccion{
    margin-top: 1.3em;
} */
.masProductos{
    font-family: stretchpro;
    color: aliceblue;
    font-size: 2em;
    width: 100%;
    height: 6em;
    margin-left: 0;
    margin-bottom: 1.5em;
    background: center fixed url(/assets/images/banner1.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}