.body-faq{
    color: aliceblue;
    width: 100%;
    height: 700px;
    padding: 5px;
    margin: 0;
    background-image: url(../../assets/images/banner31.jpg);
    background-size: 100%;
}
.body-faq h1{
    font-family: stretchpro;
    margin: 1em;
    margin-left: 2.2em;
}
.body-faq select{
    margin-left: 5.6em;
    margin-bottom: 2em;
}
.body-faq section{
    margin-left: 4.5em;
    line-height: 3em;
}
.body-faq section p{
    margin-left: 2em;
}