.body-faq{
    display: grid;
    color: aliceblue;
    width: 100%;
    padding: 5px;
    margin: 0;
    background-size: 100%;
    gap: 5px;
}
.titulo-faq{
    display: flex;
    background-color: $azuleyo;
    border-radius: 4px;
    border: solid 2px black;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.titulo-faq h1{
    font-family: stretchpro;
    text-align: center;
    margin: 20px;
}
.preguntas-faq{
    background-color: $rojoeyo;
    border-radius: 4px;
    border: solid 2px black;
    padding: 5px;
    padding: 20px;
}
.preguntas-faq select{
    margin-top: 20px;
    margin-bottom: 20px;
}