.titulo-contacto{
    grid-area: titulo-contacto;
}
.form-contacto{
    grid-area: form-contacto;
}
.info-contacto{
    grid-area: info-contacto;
}
.maps-contacto{
    grid-area: maps-contacto;
}
.body-contacto{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50em, 1fr));
    grid-auto-rows: minmax(4em, auto);
    gap: 20px;
    padding: 50px;
    padding-top: 20px;
    grid-template-areas:
        "titulo-contacto titulo-contacto"
        "info-contacto form-contacto"
        "maps-contacto form-contacto";
}
.grid-contacto{
    border-radius: 4px;
    border: solid 2px;
}
.grid-contacto:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: #7390a2;
}
.grid-contacto:nth-child(2){
    padding: 20px;
    background-color: #de5133;
}
.grid-contacto:nth-child(4){
    padding: 20px;
    background-color: #f3ce35;
}
